

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-element {
    flex: 1;
}


div {
    /*    border: solid 1px; */
}

.unit_block {
    border: solid 1px;
}

.unit_block ul {
    list-style-type: none;
}

.unit_block ul li {
    font-size: 8pt;
}

.team-dialog {
    display: block;
}

.modal-dialog {
    width: 800px;
}


.dialog-backdrop {
    background-color: rgba(10, 186, 181, 0.77);
  /*  pointer-events: none;  */
}

.App {
    padding: 20px;
    text-align: center;
}
