

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-element {
    flex: 1;
}


div {
    /*    border: solid 1px; */
}

.team-dialog {
    display: block;
}

.modal-dialog {
    width: 800px;
}
.slim {
    padding: 0px;
    margin: 0px;
}
.slim-top {
    padding-top: 0px;
    margin-top: 0px;
}
.slim-left {
    padding-left: 0px;
    margin-left: 0px;
}
.slim-margin {
    margin: 0px;
}
.slim-padding {
    padding: 0px;
}

.filament {
    padding: 2px;
    margin: 2px;
}
.fat {
    padding: 6px;
    margin: 6px;
}
.moat {
    padding: 30px 100px;
    margin: 30px 100px;
}
/*
.checkbox label {
    padding-left: 0px;
}
*/


.dialog-backdrop {
    background-color: rgba(10, 186, 181, 0.66);
  /*  pointer-events: none;  */
}

.App {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
}

.slider.slider-horizontal {
    width: 400px;
}

.table-success {
    background-color: #dff0d8;
}

.panel {
    margin-bottom: 4px;
}

.chat-window{
    bottom:0;
    position:fixed;
    float:left;
    margin-right:10px;

    overflow: auto;
    max-height: 100vh;

   /* overflow-y: scroll;
    overflow-x:hidden; */
}